{% extends "site_base.html" %}

{% load i18n %}

{% block body_class %}listings{% endblock %}

{% block rtab_id %}id="tab_listings"{% endblock %}

{% block subnav %}
    {% if user.is_authenticated %}
        <ul>
            <li><a href="{% url listings_all %} ">{% trans "All Listings" %}</a></li>
            <li><a href="{% url listings_watched %}">{% trans "Watched Listings" %}</a></li>
            <li><a href="{% url listings_yours %}">{% trans "Your Listings" %}</a></li>
	    <li><a href="{% url listings_new %}">{% trans "Create a Listing" %}</a></li>
        </ul>
    {% else %}
        &nbsp;
    {% endif %}
{% endblock %}
