{% extends "listings/base.html" %}

{% load i18n %}
{% load tagging_tags %}

{% block head_title %}{% blocktrans %}Editing Listing{% endblocktrans %}{% endblock %}

{% block body %}
    
    <h1>{% trans "Editing listing" %}</h1>
    
    {% ifequal listing.owner request.user %}
        <div>
            <form id="listing_form" method="POST" action="">
                <table>
                    {{ form }}
                    <tr><td></td><td><input type="hidden" name="action" value="update" /><input type="submit" value="{% trans "update" %}"/></td></tr>
                </table>
            </form>
        </div>
    {% else %}
        <p>You are not the creator of this listing.</p>
    {% endifequal %}
{% endblock %}
