{% extends "listings/base.html" %}

{% load i18n %}
{% load pagination_tags %}
{% load shorttimesince_tag %}

{% block head_title %}{% blocktrans %}Listings proposed by you{% endblocktrans %}{% endblock %}

{% block body %}
    
    <h1>{% trans "Listings proposed by you" %}</h1>  
    
    {% if listings %}
    
        {% autopaginate listings %}

			<table class="tasks" >
				<tr>
					<th>Proposal Time</th>
					<th>Your listing</th>
					<th>Responding listing</th>
					<th>listinged By</th>
					<th>State</th>
				</tr>
				{% for listing in listings %}
					<tr class="{% cycle odd,even %}">
						<td><a href="{{ listing.get_absolute_url }}">{{ listing.proposed_time|shorttimesince }}</a></td>
						<td>{{ listing.proposing_listing }}</td>
						<td>{{ listing.responding_listing }}</td>
						<td>{{ listing.responding_listing.listinger }}</td>
						<td>{{ listing.get_state_display }}</td>
						<td>
							<form action="{% url cancel_listing listing.id %}" method="POST">
								<input type="submit" value="{% trans "Cancel" %}" />
							</form>
						</td>
					</tr>
				{% endfor %}
			</table>

        {% paginate %}

    {% else %}
        No proposed listings.
    {% endif %}
    
{% endblock %}
